     body {
            color: white;
            background: rgb(4, 4, 51);
            padding: 10px 0;
            font-family: 'Rubik', sans-serif;
           
        }

        .btn-outline-info {
            background: hsl(56, 94%, 66%);
            border-color: hsl(56, 94%, 66%);
            color: black;
        }

        .btn-secondary {
            background: hsl(56, 94%, 66%);
            border-color: hsl(56, 94%, 66%);
            color: black;
            font-size: .5em !important;
        }

        .btn-warning {
            background: hsl(56, 94%, 66%);
            border-color: hsl(56, 94%, 66%);
            color: black;
            font-size: .5em !important;
        }
        .btn-menu {
            background: hsl(56, 94%, 66%);
            border-color: hsl(56, 94%, 66%);
            color: black;
          
        }
        .btn-menu {
            background: hsl(56, 94%, 66%);
            border-color: hsl(56, 94%, 66%);
            color: black;
           
        }

        .carousel-inner img {
            margin: auto;
          }

        button {
            background: hsl(56, 94%, 66%);
            border-color: hsl(56, 94%, 66%);
            color: black;
         
        }
        li{
        
            list-style-type: none;
        }
        .col {
          
          
            padding-top: 5px;

        }

        .container {
            text-align: center;
            /* margin-top: 5px; */
            max-width: 1200px;
        }
        a {
            background: rgb(4, 4, 51);
            border-color: hsl(56, 94%, 66%);
            color: yellow;
          
           
        }

        .row {
            text-align: center;
           

        }

        li {
            padding: 5px;
           
        }

        html { font-size: calc(1em + 1vw) }
    
        h1 { font-size: 3em; }
      
        h2 {
          
            font-size:2.4em;
        }
        h3 {
           
            font-size: 2em;
        }

        h4 {
           
            font-size: 1em;
        }

        h5 {
         
            font-size: .5em;
           
        }

     

        h6 {
           
         
            font-size: .3em;

        }
   

        p {
         
            font-size: .1em;
        } 
     
        h1 {
            color: white !important;
           
        }
      
        h2 {
            color: white !important;
           
        }
        h3 {
            color: white !important;
           
        }

        h4 {
            color: white !important;
           
        }

        h5 {
            color: black!important;
       

    line-height: 2 !important;

           
        }

        h6 {
           
            color: white !important;
          

        }
        p {
            text-align: left;
            color: white !important;
           
        }

        .dropdown-submenu {
            position: relative;
          
           
        }

        .dropdown-submenu .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -1px;
          

        }


        .dropdown-menu {
            background: rgb(4, 4, 51);
            border-color: hsl(56, 94%, 66%);
            color: yellow;
           

        }

            .dropdown-item {
            background: rgb(4, 4, 51);
            border-color: hsl(56, 94%, 66%);
            color: yellow;
         

        }
      li a {

        font-size: .5em !important;
      }