   
      html { font-size: calc(1em + 1vw) !important;} 
      label{
            font-size: 2.3vw;
        
        }
        
        .form-control-lg {
        
            font-size: 2.3vw;
        
        }

        h1 {
           
            font-size: 3.1vw;
        }
      
        h2 {
          
            font-size: 2.8vw;
        }
        h3 {
           
            font-size: 2.3vw;
        }

      
                h4 {
                   
                    font-size: 1.9vw;
                }
        
                h5 {
                 
                    font-size: 1.0vw;
                   
                }
        
             
        
                h6 {
                   
                 
                    font-size: 0.7vw;
        
                }
           
        
                p {
                 
                    font-size: .5vw;
                }
       
       
        label{

          
            text-align: left;
            
        }
        .form-group{
            padding-bottom: 30px;
        }

       

     form{
        border:   1px solid yellow"
     }

      

        .col {
         
          
            padding-top: 5px;

        }

        .container {
            text-align: center;
            /* margin-top: 5px; */
            max-width: 1200px;
        }

        .row {
            text-align: center;
           

        }

        li {
            padding: 5px;
        }

        p {
            text-align: left;
            color: white!important;
        }

      

        h3 {
            color: white !important;
            text-align: left;
        }

        h4 {
            color: white !important;
        }

        h5 {
            color: black !important;
        }

     h2 {
         text-align: center;
     }

        h6 {
           
            color: white !important;
           
        }
        label{
            text-align: left!important;
        }

    