body {
    color: white;
    background: rgb(4, 4, 51);
    padding: 10px 0;
}
h5{

    color: white;
}

.dropdown-content{
    background: rgb(4, 4, 51);
    margin: 20px 0px 0px 0px;
    overflow:inherit;
  }
  
  .dropdown-content:after{      
     
      position: absolute;
      width: 40px;
      height: 40px;
      background: rgb(4, 4, 51);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 0;
      right: 10px;
  }
.carousel-item>img {
    width: auto;
    height: 100% !important;
}

.carousel .carousel-item>img {
    width: auto !important;
}

nav {    
    background: rgb(4, 4, 51);
    margin-left: 10%;
    padding-right: 20%;
   
}

.container {
    text-align: center;
    /* margin-top: 5px; */
    max-width: 1200px;
}


.btn {
    background: hsl(56, 94%, 66%);
    border-color: hsl(56, 94%, 66%);
    color: black;
    text-align: center;
    align-content: center;
}
.btn-warning {
    background: hsl(56, 94%, 66%);
    border-color: hsl(56, 94%, 66%);
    color: black;
    text-align: center;
    align-content: center;
}
p{
    color: black;
    text-align: center;
}

.col{
    color: black;
    text-align: center;
    float: none !important;
}
nav ul a {
    background: rgb(4, 4, 51)!important;;
    border-color: hsl(56, 94%, 66%)!important;;
    color: hsl(56, 94%, 66%)!important;;
padding: 0 5px!important;
}
.menu-container{
    background: rgb(4, 4, 51)!important;;
    border-color: hsl(56, 94%, 66%)!important;;
    color: hsl(56, 94%, 66%)!important;;
padding: 0 5px!important;
}
